name: Publish Runner Image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/actions-runner
  RUNNER_VERSION: 2.311.0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: ${{ github.event_name == 'push' }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.RUNNER_VERSION}}
          build-args: |
            RUNNER_VERSION=${{ env.RUNNER_VERSION}}
            RUNNER_CONTAINER_HOOKS_VERSION=0.5.0
            TARGETOS=linux
            TARGETARCH=amd64
            DOCKER_VERSION=24.0.6
            BUILDX_VERSION=0.11.2
          cache-from: type=gha
          cache-to: type=gha,mode=max
